<% if flash[:errors]%>
<% flash[:errors].each do |error|%>
<p style="color:red;"><%= error %> <br>
<% end%>
<% end%>

<div class="form-container">
<div class="btn-group">
<%= form_tag new_workout_path, method: :get do %>
    <%= submit_tag "Olympic Weightlifting", name: :olympic, :class => 'form-buttons'%>
<% end %>
<%= form_tag new_workout_path, method: :get do %>
    <%= submit_tag "Arms/Shoulders", name: :arms, :class => 'form-buttons'%>
<% end %>
<%= form_tag new_workout_path, method: :get do %>
    <%= submit_tag "Legs", name: :legs, :class => 'form-buttons'%>
<% end %>
<%= form_tag new_workout_path, method: :get do %>
    <%= submit_tag "Chest", name: :chest, :class => 'form-buttons'%>
<% end %>
<%= form_tag new_workout_path, method: :get do %>
    <%= submit_tag "Back", name: :back, :class => 'form-buttons'%>
<% end %>
<%= form_tag new_workout_path, method: :get do %>
    <%= submit_tag "All", name: :all, :class => 'form-buttons'%>
<% end %>
</div>
<br>
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <%= error %>
    <% end %>
<% end %>
<%= form_for @workout do |f| %>
<div class="form-input">
     <%= f.hidden_field :user_id, value: session[:user_id] %><br> 
    <%= f.label "Title" %>
    <%= f.text_field :kind %><br><br>
    
    <%= f.fields_for :exercise_workouts do |f| %>
        <%= f.label :exercise_id %>
        <%= f.collection_select :exercise_id, @exercises, :id, :name, prompt: true%>
        <%= f.label :sets %>
        <%= f.number_field :sets %>
        <%= f.label :reps %>
        <%= f.number_field :reps %>
        <%= f.check_box :_destroy %>Delete<br><br>
    <% end %>
    </div>
    <%= f.submit :class => 'form-buttons' %>
<% end %><br><br>
</div>