<h1>Welcome Back!</h1>
<h2>Please Login:</h2> 
<% if flash[:error]%>
<p style="color:red;"><%= flash[:error]  %> <br>
<% end%>
<br>
<div class="form-container">

  <%= form_for :session, url: login_path do |f| %>
    <div class="form-input">
      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label "Confirm Password" %>
      <%= f.password_field :password_confirmation %><br><br>
    </div>

    <%= f.submit "Login", :class => "form-buttons" %>
  <% end %>
</div>
 