<% if flash[:error]%>
<p style="color:red;"><%= flash[:error]  %> <br>
<% end%>

<div class="form-container">

  <%= form_for :session, url: login_path do |f| %>
    <div class="form-input">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <div class="form-input">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="form-input">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <%= f.submit :class => "form-buttons" %>
  <% end %>
</div>
