<div class="show-container">
<div class="show-tile1">
<h1>Profile</h1>
<% if @user.photo.attached?%>
    <image src="<%= (url_for(@user.photo)) %>">
<% end%>
<h3>Name: <%= @user.name %></h3>
<h3>Age: <%= @user.age %></h3>
<h3>Username: <%= @user.username %></h3>
<h3><%= button_to "Create a Stat!", new_stat_path, method: :get, class: "form-buttons"%></h3>
<h3><%= button_to "Edit Profile", edit_user_path(@user), method: :get, class: "form-buttons" %></h3>
<h3>My Personal Records: <% @user.stats.each do |stat|%>
<%= stat.exercise.name %> @ <%= stat.weight%> lbs. </h3> <br>
<% end%>
<h3><%= button_to "Delete Account", user_path(@user), method: :delete, data: { confirm: "Are you sure? You will lose all your workouts and stats."}, class: "form-buttons"%></h3>
</div>

<div class="show-tile">
<h3>Scheduled Workouts:</h3>
<%= month_calendar events: @appointments do |date, appointments| %>
  <%= date.strftime("%m/%d/%Y") %>

  <% appointments.each do |appointment| %>
    <div>
      Workout: <%= link_to appointment.workout.kind, workout_path(appointment.workout) %> <br>   Location: <%= appointment.location%>
    </div>
  <% end %>
</div>
<% end %>
</div>

