<div class="form-container">
<%= form_for @appointment do |f| %>
<%= f.label :date %>
<%= f.date_field :date %>
<%= f.label :time %>
<%= f.time_field :time %>
<%= f.label :workout_id %>
<%= f.collection_select :workout_id, Workout.where(id: session[:user_id]), :id, :kind %>
<%= f.label :user_id %>
<%= f.collection_select :user_id, User.all, :id, :name %>
<%= f.label :location %>
<%= f.text_field :location %>
<%= f.submit :class => 'form-buttons' %>
<% end %>
</div>