<h1>Appointment Info:</h1>
<h3>Date: <%= @appointment.date %></h3>
<h3>Time: <%= @appointment.time %></h3>
<h3>Workout: <%= @appointment.workout.name %></h3>
<h3>User: <%= @appointment.user.name %></h3>
<h3>Location: <%= @appointment.location %></h3>

<%= button_to "Edit Appointment", edit_appointmemt_path(@appointment), method: :get %>