<% if flash[:errors]%>
<% flash[:errors].each do |error|%>
<p style="color:red;"><%= error %> <br>
<% end%>
<% end%>

<div class="form-container">
<%= form_for @exercise do |f| %>
<div class="form-input">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :category %>
    <%= f.text_field :category %>

    <%= f.label :description %>
    <%= f.text_field :description %>
    
    <%= f.label :video %>
    <%= f.text_field :video %><br><br>
</div>
    <%= f.submit class: "form-buttons"%>
<% end %>

</div>