<h1>Exercises</h1>
<div class="banner">
    <%= image_tag "barbell.png", class: "exercises-img" %>
</div>
<div class="index-container">
<div class="index-tile">
<h3>Olympic Weightlifting: </h3>
<% @exercises.where(category: "Olympic Weightlifting").each do |x| %>
    <%= link_to x.name, exercise_path(x) %><br>
<% end %>
</div>

<div class="index-tile">
<h3>Legs: </h3>
<% @exercises.where(category: "Legs").each do |x| %>
    <%= link_to x.name, exercise_path(x) %><br>
<% end %>
</div>

<div class="index-tile">
<h3>Arms/Shoulders: </h3>
<% @exercises.where(category: "Arms/Shoulders").each do |x| %>
    <%= link_to x.name, exercise_path(x) %><br>
<% end %>
</div>

<div class="index-tile">
<h3>Chest: </h3>
<% @exercises.where(category: "Chest").each do |x| %>
    <%= link_to x.name, exercise_path(x) %><br>
<% end %>
</div>

<div class="index-tile">
<h3>Back: </h3>
<% @exercises.where(category: "Back").each do |x| %>
    <%= link_to x.name, exercise_path(x) %><br>
<% end %>
</div>
</div>