<% if flash[:stat_errors]%>
<% flash[:stat_errors].each do |error|%>
<p style="color:red;"><%= error %> <br>
<% end%>
<% end%>
<div class="form-container">
<div class="form-input">
<%= form_for @stat do |f| %>
 <%= f.hidden_field :user_id, value: session[:user_id] %> 
<%= f.label :exercise_id %>
<%= f.collection_select :exercise_id, Exercise.all, :id, :name, prompt: true %>
<%= f.label :weight %>
<%= f.number_field :weight %><br><br>
<%= f.label :comment %>
<%= f.text_field :comment %><br><br>
</div>
<%= f.submit class: "form-buttons" %>
<% end %>
</div>