<br>
<div class="congrats-img">
      <%= image_tag "congrats.jpeg", class: "congrats-img" %>
</div>
<h1>You did great, <%= @stat.user.name %>!!!</h1>

<h3><%= link_to @stat.exercise.name, exercise_path(@stat.exercise) %></h3>
<h3><%= @stat.weight %> pounds!</h3>
<h3><%= @stat.comment %></h3>
<% if @stat.photo.attached?%>
    <div class="profile-pic"><image src="<%= (url_for(@stat.photo)) %>"></div>
<% end%>
    <br><br>
<%= button_to "Edit Stat", edit_stat_path(@stat), method: :get, class: "form-buttons" %> <br>
<%= button_to "Delete Stat", stat_path(@stat), method: :delete, class: "form-buttons"%> <br>
<%= button_to "View All Stats", stats_path, method: :get, class: "form-buttons" %> <br>
<%= button_to "Log another PR!", new_stat_path, method: :get, class: "form-buttons" %><br>
