<h1>You did great!!!</h1>
<h3><%= @stat.user.name %></h3>
<h3><%= link_to @stat.exercise.name, exercise_path(@stat.exercise) %></h3>
<h3><%= @stat.weight %> pounds</h3>
<h3><%= @stat.comment %></h3>
<% if @stat.video.attached? %>
    <%# <%= image_tag @stat.video.preview(resize_to_limit: [100,100]) %>
<% end %>
    Video Preview Goes Here
    <br><br>
<%= button_to "Edit Stat", edit_stat_path(@stat), method: :get, class: "form-buttons" %> <br>
<%= button_to "Delete Stat", stat_path(@stat), method: :delete, class: "form-buttons"%> <br>
<%= button_to "View All Stats", stats_path, method: :get, class: "form-buttons" %> <br>
<%= button_to "Log another PR!", new_stat_path, method: :get, class: "form-buttons" %><br>
