<!DOCTYPE html>
<html>
  <head>
    <title>FitnessApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="banner">
      <ul>
        <li class="center"><%= image_tag "Str.gif", class: "banner-img" %></li>
        <li class="left">Today's actions are<br> tomorrow's results</li>
        <%# <li class="left"><%= button_to "Learn More", users_path, class: "form-buttons" %></li>
        <li class="right"><%= image_tag "fb-twitter-instagram.jpeg"%></li>
      </ul>
    </div>

    <ul class="nav">
      <li class="left"><%= link_to "Home", root_path %>
      <li class="left"><%= link_to "View Exercises", exercises_path %></li>
      <li class="left"><%= link_to "Create a Workout", new_workout_path %></li>
      <li class="left"><%= link_to "View Existing Workouts", workouts_path %></li>

      <% if @current_user %>
      
        <li class="right"><%= link_to "Log Out", logout_path, method: :delete %></li>
        <li class="right"><%= link_to "My Profile", user_path(@current_user) %></li>
        <li class="right">Welcome, <%= @current_user.name %>!</li>
      <% else %>
        <li class="right"><%= link_to "Login", new_login_path %></li>
        <li class="right"><%= link_to "Sign Up", new_user_path %></li>
      <% end %>
    </ul>
  <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
