<!DOCTYPE html>
<html>
  <head>
    <title>FitnessApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="banner">
      <%= image_tag "Str.gif", class: "banner-img" %>
    </div>

    <ul class="nav">
      <li><%= link_to "Exercises", exercises_path %></li>
      <li><%= link_to "Create a Workout", new_workout_path %></li>
      <li><%= link_to "Schedule a Workout", new_appointment_path %></li>

      <% if @current_user %>
        <li class="right">Welcome, <%= @current_user.name %>!</li>
        <li class="right"><%= link_to "Log Out", logout_path, method: :delete %></li>
      <% else %>
        <li class="right"><%= link_to "Sign Up", new_user_path %></li>
      <% end %>
    </ul>
  <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
