<!DOCTYPE html>
<html>
  <head>
    <title>FitnessApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class='container'>
      <p class='logo'>FitnessApp</p>
      <nav>
        <ul>
          <li><%= link_to "Home", users_path %></li>
          <li><%= link_to "Exercises", exercises_path %></li>
          <li><%= link_to "Workouts", workouts_path %></li>
          <li><%= link_to "Appointments", appointments_path %></li>
          <li><%= link_to "Stats", stats_path %></li>
        </ul>
      </nav>
    </header>
      <%= yield %>
    </div>
  </body>
</html>
